/* Add background image; Adjust the font and font size of the body. */
body {
    background-image: url("fanpage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(200, 230, 240);
    font-family: Book Antiqua, Cursive;
    font-size: 17px;
    color: black;
}

/* Change the margin and alignment of the paragraph. */
p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

/* Make the effect of indentation. */
#p1 {
    opacity: 0;
}

/* Center the date. */
.center {
    text-align: center;
}

/* Adjust the position of the image. */
.img {
    text-align: center;
    margin-top: 5%;
}

/* Adjust the position of the first section. */
.left {
    float: left;
    left: 20%;
    margin: 0 0 2% 8%;
    padding: 5% 0 5% 5%;
}

/* Adjust the position of the second section. */
.right {
    float: right;
    right: 20%;
    margin: 0 9% 2% 0;
    padding: 5% 8% 4.25% 0;
}

/* Adjust the alignment and font of h1. */
h1 {
    text-align: center;
    font-size: 53px;
    font-family: Lucida Calligraphy, Cursive;
    margin-bottom: 10px;
}

/* Adjust the alignment and font of h2. */
h2 {
    font-size: 20px;
    font-family: Lucida Calligraphy, Cursive;
    margin-bottom: 0;
}

/* Adjust listed items. */
.bulletpoints {
    list-style-position: inside;
}

/* Eliminate the border of the video. */
iframe {
    border: none;
}

/* Adjust the position and appearance of two sections when the window size is smaller than 768px. */
@media screen and (max-width: 768px) {
    .left {
        background: linear-gradient(to left top, white, rgb(245, 218, 223));
        margin: 5% 10% 5% 10%;
        padding: 5% 15% 5% 15%;
        border: 2px solid black;
        font-size: 17px;
    }
    
    .right {
        float: left;
        background: linear-gradient(to left top, white, rgb(245, 218, 223));
        margin: 5% 10% 5% 10%;
        padding: 4% 28% 4% 15%;
        border: 2px solid black;
        font-size: 17px;
    }
}


